train_input_path: ""
eval_input_path: ""
model_dir: "experiments/genrec_causal_lm_model_mock"
train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.0
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.0001
        }
        constant_learning_rate {
        }
    }
    num_epochs: 1
    save_checkpoints_epochs: 1
}
eval_config {
}
export_config {
    export_format: HF
}
data_config {
    batch_size: 4
    dataset_type: ParquetDataset
    fg_mode: FG_NONE
    label_fields: "answer"
    num_workers: 1
}
feature_configs {
    sequence_raw_feature {
        feature_name: "hist"
        expression: "user:hist"
    }
}
prompt_config {
    tokenizer_path: "data/test/tokenizer.json"
    prompt: "History : {{hist}} . Predict :"
    response: "{{answer}}"
    sid_space {
        codebook: 4
        codebook: 4
        codebook: 4
    }
    max_length: 64
}
model_config {
    genrec_causal_lm_model {
        hf_model_name_or_path: "Qwen/Qwen2.5-0.5B"
        common {
            beam_widths: 2
            beam_widths: 2
            beam_widths: 2
            num_return_sequences: 2
        }
    }
}
