train_input_path: ""
eval_input_path: ""
model_dir: "experiments/hstu_fg_mock"
train_config {
    sparse_optimizer {
        adam_optimizer {
            lr: 0.001
            weight_decay: 0
            beta1: 0.9
            beta2: 0.98
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
            weight_decay: 0
            beta1: 0.9
            beta2: 0.98
        }
        constant_learning_rate {
        }
    }
    num_epochs: 8
}
eval_config {
}
data_config {
    batch_size: 128
    dataset_type: ParquetDataset
    fg_mode: FG_DAG
    label_fields: "clk"
    num_workers: 8
    negative_sampler {
        input_path: "odps://{PROJECT}/tables/taobao_ad_feature_gl_bucketized_v1"
        num_sample: 128
        attr_fields: "item_id"
        item_id_field: "item_id"
        attr_delimiter: "\t"
    }
}
feature_configs {
    sequence_id_feature {
        feature_name: "historical_ids"
        sequence_length: 210
        sequence_delim: ";"
        expression: "user:historical_ids"
        num_buckets: 3953
        embedding_dim: 48
    }
}
feature_configs {
    id_feature {
        feature_name: "user_id"
        expression: "user:user_id"
        hash_bucket_size: 1000
        embedding_dim: 48
    }
}
feature_configs {
    id_feature {
        feature_name: "item_id"
        expression: "item:item_id"
        num_buckets: 1000
        embedding_dim: 48
    }
}

model_config {
    feature_groups {
        group_name: "uih"
        feature_names: "historical_ids"
        group_type: JAGGED_SEQUENCE
    }
    feature_groups {
        group_name: "candidate"
        feature_names: "item_id"
        group_type: DEEP
    }
    hstu_match {
        hstu_tower {
            input: "uih"
            hstu {
                stu {
                    embedding_dim: 48
                    num_heads: 1
                    hidden_dim: 48
                    attention_dim: 48
                    output_dropout_ratio: 0.2
                }
                attn_num_layers: 2
                positional_encoder {
                    num_position_buckets: 512
                }
                input_preprocessor {
                    uih_preprocessor {
                    }
                }
                output_postprocessor {
                    l2norm_postprocessor {
                    }
                }
            }
            max_seq_len: 210
        }
        temperature: 0.05
    }
    metrics {
        recall_at_k {
            top_k: 1
        }
    }
    metrics {
        recall_at_k {
            top_k: 5
        }
    }
    losses {
        softmax_cross_entropy {}
    }
}
