train_input_path: ""
eval_input_path: ""
model_dir: "experiments/hstu_fg_mock"
train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    num_epochs: 8
}
eval_config {
}
data_config {
    batch_size: 8192
    dataset_type: ParquetDataset
    fg_encoded: false
    label_fields: "clk"
    num_workers: 8
    force_base_data_group: true
    negative_sampler {
        input_path: "odps://{PROJECT}/tables/taobao_ad_feature_gl_bucketized_v1"
        num_sample: 1024
        attr_fields: "item_id"
        item_id_field: "item_id"
        attr_delimiter: "\x02"
    }
}
feature_configs {
    id_feature {
        feature_name: "user_id"
        expression: "user:user_id"
        hash_bucket_size: 1000000
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "item_id"
        expression: "item:item_id"
        num_buckets: 1000000
        embedding_dim: 16
        embedding_name: "item_id"
    }
}
feature_configs {
    sequence_feature {
        sequence_name: "click_50_seq"
        sequence_length: 50
        sequence_delim: "|"
        features {
            id_feature {
                feature_name: "item_id"
                expression: "item:item_id"
                num_buckets: 1000000
                embedding_dim: 16
                embedding_name: "item_id"
            }
        }
    }
}
model_config {
    feature_groups {
        group_name: "user"
        feature_names: "click_50_seq__item_id"
        group_type: SEQUENCE
    }
    feature_groups {
        group_name: "item"
        feature_names: "item_id"
        group_type: DEEP
    }
    hstu_match {
        user_tower {
            input: 'user'
            hstu_encoder: {
                sequence_dim: 16
                attn_dim: 16
                linear_dim: 16
                input: "click_50_seq"
                max_seq_length: 50
                num_blocks: 2
                num_heads: 1
                linear_activation: "silu"
                linear_config: "uvqk"
                max_output_len: 10
            }
        }
        item_tower {
            input: 'item'
        }
        output_dim: 64
    }
    metrics {
        recall_at_k {
            top_k: 1
        }
    }
    metrics {
        recall_at_k {
            top_k: 5
        }
    }
    losses {
        softmax_cross_entropy {}
    }
}
