train_input_path: ""
eval_input_path: ""
model_dir: "experiments/kuairand/hstu_match"
train_config {
    sparse_optimizer {
        rowwise_adagrad_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
            weight_decay: 0
            beta1: 0.9
            beta2: 0.98
        }
        constant_learning_rate {
        }
    }
    num_epochs: 1
}
eval_config {
}
data_config {
    batch_size: 8
    dataset_type: ParquetDataset
    fg_mode: FG_DAG
    label_fields: "clk"
    num_workers: 2
    force_base_data_group: true
    negative_sampler {
        input_path: "odps://{PROJECT}/tables/taobao_ad_feature_gl_bucketized_v1"
        num_sample: 128
        attr_fields: "item_id"
        item_id_field: "item_id"
        attr_delimiter: "\t"
    }
}
feature_configs {
    id_feature {
        feature_name: "user_id"
        expression: "user:user_id"
        embedding_dim: 32
        hash_bucket_size: 1000
    }
}
feature_configs {
    id_feature {
        feature_name: "user_active_degree"
        expression: "user:user_active_degree"
        embedding_dim: 32
        num_buckets: 8
    }
}
feature_configs {
    sequence_id_feature {
        feature_name: "item_id"
        expression: "item:item_id"
        embedding_name: "item_id_emb"
        sequence_length: 10
        sequence_delim: ";"
        embedding_dim: 32
        num_buckets: 10000
    }
}
feature_configs {
    sequence_feature {
        sequence_name: "uih_seq"
        sequence_length: 100
        sequence_delim: ";"
        features {
            id_feature {
                feature_name: "item_id"
                expression: "item:item_id"
                embedding_name: "item_id_emb"
                embedding_dim: 32
                num_buckets: 10000
            }
        }
        features {
            raw_feature {
                feature_name: "action_timestamp"
                expression: "user:action_timestamp"
            }
        }
        features {
            raw_feature {
                feature_name: "action_weight"
                expression: "user:action_weight"
            }
        }
        features {
            raw_feature {
                feature_name: "watch_time"
                expression: "user:watch_time"
            }
        }
    }
}

model_config {
    feature_groups {
        group_name: "contextual"
        feature_names: "user_id"
        feature_names: "user_active_degree"
        group_type: DEEP
    }
    feature_groups {
        group_name: "uih"
        feature_names: "uih_seq__item_id"
        group_type: JAGGED_SEQUENCE
    }
    feature_groups {
        group_name: "candidate"
        feature_names: "item_id"
        group_type: JAGGED_SEQUENCE
    }
    feature_groups {
        group_name: "uih_action"
        feature_names: "uih_seq__action_weight"
        group_type: JAGGED_SEQUENCE
    }
    feature_groups {
        group_name: "uih_watchtime"
        feature_names: "uih_seq__watch_time"
        group_type: JAGGED_SEQUENCE
    }
    feature_groups {
        group_name: "uih_timestamp"
        feature_names: "uih_seq__action_timestamp"
        group_type: JAGGED_SEQUENCE
    }
    hstu_match {
        user_tower {
            input: "uih"
            hstu {
                stu {
                    embedding_dim: 32
                    num_heads: 1
                    hidden_dim: 32
                    attention_dim: 32
                    output_dropout_ratio: 0.2
                }
                attn_num_layers: 2
                positional_encoder {
                    num_position_buckets: 512
                    num_time_buckets: 2048
                    use_time_encoding: true
                }
                input_preprocessor {
                    uih_preprocessor {
                        action_encoder {
                            simple_action_encoder {
                                action_embedding_dim: 8
                                action_weights: [1, 2, 4, 8, 16, 32, 64, 128]
                            }
                        }
                        action_mlp {
                            simple_mlp {
                                hidden_dim: 64
                            }
                        }
                    }
                }
                output_postprocessor {
                    l2norm_postprocessor {
                    }
                }
            }
            max_seq_len: 100
        }
        item_tower {
            input: "candidate"
        }
        output_dim: 32
        temperature: 0.05
    }
    metrics {
        recall_at_k {
            top_k: 1
        }
    }
    metrics {
        recall_at_k {
            top_k: 5
        }
    }
    losses {
        softmax_cross_entropy {}
    }
    kernel: PYTORCH
}
