train_input_path: ""
eval_input_path: ""
model_dir: "experiments/mind_mock"
train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    num_epochs: 2
}
eval_config {
}
data_config {
    batch_size: 8192
    dataset_type: ParquetDataset
    label_fields: "clk"
    num_workers: 8
    negative_sampler {
        input_path: "odps://{PROJECT}/tables/taobao_ad_feature_gl_bucketized_v1"
        num_sample: 1024
        attr_fields: "item_id"
        attr_fields: "item_id_1"
        attr_fields: "item_id_2"
        item_id_field: "item_id"
        attr_delimiter: "\x02"
        attr_delimiter: "\x02"
    }
}
feature_configs {
    id_feature {
        feature_name: "id_1"
        num_buckets: 1000000
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "id_2"
        num_buckets: 10000
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "id_3"
        num_buckets: 1000
        embedding_dim: 8
    }
}
feature_configs {
    id_feature {
        feature_name: "id_4"
        num_buckets: 100
        embedding_dim: 16
        embedding_name: "id_4_emb"
    }
}
feature_configs {
    id_feature {
        feature_name: "id_5"
        num_buckets: 100
        embedding_dim: 16
        embedding_name: "id_5_emb"
    }
}
feature_configs {
    id_feature {
        feature_name: "item_id"
        num_buckets: 100
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "item_id_1"
        num_buckets: 100
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "item_id_2"
        num_buckets: 100
        embedding_dim: 16
    }
}

feature_configs {
    sequence_feature {
        sequence_name: "click_50_seq"
        sequence_length: 50
        sequence_delim: "|"
        features {
            id_feature {
                feature_name: "id_2"
                num_buckets: 10000
                embedding_dim: 16
            }
        }
        features {
            id_feature {
                feature_name: "id_3"
                num_buckets: 1000
                embedding_dim: 8
            }
        }
    }
}

model_config {
    feature_groups {
        group_name: "user"
        feature_names: "id_1"
        feature_names: "id_2"
        feature_names: "id_3"
        feature_names: "id_4"
        feature_names: "id_5"
        group_type: DEEP
    }
    feature_groups {
        group_name: "item"
        feature_names: "item_id"
        feature_names: "item_id_1"
        feature_names: "item_id_2"
        group_type: DEEP
    }
    feature_groups {
        group_name: "hist"
        feature_names: "click_50_seq__id_2"
        feature_names: "click_50_seq__id_3"
        group_type: SEQUENCE
    }
    mind{
        user_tower{
            input: 'user'
            history_input: 'hist'
            user_mlp {
                hidden_units: [256, 128]
                use_bn: true
            }
            hist_seq_mlp {
                hidden_units: [256, 128]
                use_bn: true
            }
            capsule_config {
                max_k: 5
                max_seq_len: 64
                high_dim: 64
                squash_pow: 0.2
                const_caps_num: false
            }
            concat_mlp {
                hidden_units: [256, 128]
                use_bn: true
            }
        }
        item_tower{
            input: 'item'
            mlp {
                hidden_units: [256, 128]
                use_bn: true
            }
        }

        simi_pow: 20
        in_batch_negative: false

    }

    losses {
        softmax_cross_entropy {}
    }
}
