train_input_path: ""
eval_input_path: ""
model_dir: "experiments/multi_tower_din_mock_fg"
train_config {
    sparse_optimizer {
        rowwise_adagrad_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    num_epochs: 1
    mixed_precision: 'BF16'
}
eval_config {
}
data_config {
    batch_size: 8192
    dataset_type: ParquetDataset
    fg_mode: FG_DAG
    label_fields: "clk"
    num_workers: 8
}
feature_configs {
    id_feature {
        feature_name: "user_id"
        expression: "user:user_id"
        hash_bucket_size: 1000000
        embedding_dim: 16
        data_type: "FP16"
    }
}
feature_configs {
    id_feature {
        feature_name: "item_id"
        expression: "item:item_id"
        num_buckets: 10000
        embedding_dim: 16
        data_type: "FP16"
    }
}
feature_configs {
    id_feature {
        feature_name: "id_3"
        expression: "item:id_3"
        vocab_list: ["a", "b", "c"]
        embedding_dim: 8
        value_dim: 0
    }
}
feature_configs {
    id_feature {
        feature_name: "id_4"
        expression: "item:id_4"
        hash_bucket_size: 100
        embedding_dim: 16
        embedding_name: "id_4_emb"
        value_dim: 0
        pooling: "mean"
    }
}
feature_configs {
    id_feature {
        feature_name: "id_5"
        expression: "item:id_5"
        hash_bucket_size: 100
        embedding_dim: 16
        embedding_name: "id_4_emb"
        value_dim: 0
        pooling: "mean"
    }
}
feature_configs {
    id_feature {
        feature_name: "id_6"
        expression: "user:id_6"
        hash_bucket_size: 100
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "id_7"
        expression: "user:id_7"
        vocab_file: "data/test/id_vocab_list_1"
        default_bucketize_value: 1
        embedding_dim: 16
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_1"
        expression: "item:raw_1"
        boundaries: [0.1, 0.2, 0.3, 0.4]
        embedding_dim: 16
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_2"
        expression: "item:raw_2"
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_3"
        expression: "item:raw_3"
        value_dim: 4
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_4"
        expression: "user:raw_4"
        value_dim: 4
        boundaries: [0.1, 0.2, 0.3, 0.4]
        embedding_dim: 16
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_5"
        expression: "user:raw_5"
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_6_id"
        expression: "item:raw_6"
        boundaries: [0.1, 0.2, 0.3, 0.4]
        embedding_dim: 16
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_7"
        expression: "user:raw_7"
        embedding_dim: 16
        autodis {
           num_channels: 3
           temperature: 0.1
           keep_prob: 0.8
        }
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_8"
        expression: "user:raw_8"
        embedding_dim: 12
        autodis {
           num_channels: 3
           temperature: 0.1
           keep_prob: 0.8
        }
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_9"
        expression: "user:raw_9"
        embedding_dim: 16
        mlp {
        }
    }
}
feature_configs {
    combo_feature {
        feature_name: "combo_1"
        expression: ["user:id_1", "item:id_2"]
        hash_bucket_size: 1000000
        embedding_dim: 16
        data_type: "FP16"
    }
}
feature_configs {
    lookup_feature {
        feature_name: "lookup_1"
        map: "user:map_1"
        key: "item:id_2"
    }
}
feature_configs {
    lookup_feature {
        feature_name: "lookup_2"
        map: "user:map_2"
        key: "item:id_2"
        hash_bucket_size: 10000
        embedding_dim: 8
        data_type: "FP16"
    }
}
feature_configs {
    lookup_feature {
        feature_name: "lookup_3"
        map: "user:map_3"
        key: "item:id_2"
        num_buckets: 1000
        embedding_dim: 8
        data_type: "FP16"
    }
}
feature_configs {
    lookup_feature {
        feature_name: "lookup_4"
        map: "user:map_4"
        key: "item:id_2"
        vocab_list: ["e", "f", "g"]
        embedding_dim: 16
    }
}
feature_configs {
    lookup_feature {
        feature_name: "lookup_5"
        map: "user:map_5"
        key: "feature:raw_6_id"
        vocab_list: ["e", "f", "g"]
        embedding_dim: 16
    }
}
feature_configs {
    lookup_feature {
        feature_name: "lookup_6"
        map: "user:map_1"
        key: "item:id_2"
        embedding_dim: 8
        mlp {
        }
    }
}
feature_configs {
    lookup_feature {
        feature_name: "lookup_7"
        map: "user:map_5"
        key: "feature:raw_7"
        vocab_list: ["e", "f", "g"]
        embedding_dim: 16
    }
}
feature_configs {
    match_feature {
        feature_name: "match_1"
        nested_map: "user:nested_map_1"
        pkey: "item:id_2"
        skey: "item:id_3"
    }
}
feature_configs {
    match_feature {
        feature_name: "match_2"
        nested_map: "user:nested_map_2"
        pkey: "item:id_2"
        skey: "item:id_3"
        hash_bucket_size: 100000
        embedding_dim: 16
        data_type: "FP16"
    }
}
feature_configs {
    match_feature {
        feature_name: "match_3"
        nested_map: "user:nested_map_3"
        pkey: "item:id_2"
        skey: "item:id_3"
        num_buckets: 10000
        embedding_dim: 8
        data_type: "FP16"
    }
}
feature_configs {
    match_feature {
        feature_name: "match_4"
        nested_map: "user:nested_map_4"
        pkey: "item:id_2"
        skey: "item:id_3"
        vocab_list: ["e", "f", "g"]
        embedding_dim: 16
    }
}
feature_configs {
    expr_feature {
        feature_name: "expr_1"
        expression: "raw_1 + raw_2"
        variables: ["item:raw_1", "item:raw_2"]
    }
}
feature_configs {
    custom_feature {
        feature_name: "custom_1"
        operator_name: "EditDistance"
        operator_lib_file: "pyfg/lib/libedit_distance.so"
        expression: ["user:query", "item:title"]
        operator_params: {
            fields {
                key: "encoding"
                value {
                    string_value: "utf-8"
                }
            }
        }
        embedding_dim: 16
        autodis {
           num_channels: 3
           temperature: 0.1
           keep_prob: 0.8
        }
    }
}
feature_configs {
    sequence_feature {
        sequence_name: "click_50_seq"
        sequence_length: 50
        sequence_delim: "|"
        features {
            id_feature {
                feature_name: "item_id"
                expression: "item:item_id"
                num_buckets: 10000
                embedding_dim: 16
                data_type: "FP16"
            }
        }
        features {
            id_feature {
                feature_name: "id_3"
                expression: "item:id_3"
                vocab_list: ["a", "b", "c"]
                embedding_dim: 8
                value_dim: 0
            }
        }
        features {
            raw_feature {
                feature_name: "raw_1"
                expression: "item:raw_1"
                boundaries: [0.1, 0.2, 0.3, 0.4]
                embedding_dim: 16
            }
        }
        features {
            raw_feature {
                feature_name: "raw_2"
                expression: "item:raw_2"
            }
        }
        features {
            raw_feature {
                feature_name: "raw_3"
                expression: "item:raw_3"
                value_dim: 4
            }
        }
    }
}
feature_configs {
    sequence_id_feature {
        feature_name: "buy_50_user_id_seq"
        sequence_length: 50
        sequence_delim: "|"
        expression: "item:buy_50_user_id_seq"
        num_buckets: 1000000
        embedding_dim: 16
        data_type: "FP16"
    }
}
feature_configs {
    sequence_id_feature {
        feature_name: "buy_50_id_6_seq"
        sequence_length: 50
        sequence_delim: "|"
        expression: "item:buy_50_id_6_seq"
        hash_bucket_size: 100
        embedding_dim: 16
        value_dim: 0
    }
}
feature_configs {
    sequence_raw_feature {
        feature_name: "buy_50_raw_5_seq"
        sequence_length: 50
        sequence_delim: "|"
        expression: "item:buy_50_raw_5_seq"
    }
}
model_config {
    feature_groups {
        group_name: "deep"
        feature_names: "user_id"
        feature_names: "item_id"
        feature_names: "id_3"
        feature_names: "id_4"
        feature_names: "id_5"
        feature_names: "id_6"
        feature_names: "id_7"
        feature_names: "raw_1"
        feature_names: "raw_2"
        feature_names: "raw_3"
        feature_names: "raw_4"
        feature_names: "raw_5"
        feature_names: "raw_7"
        feature_names: "raw_8"
        feature_names: "raw_9"
        feature_names: "combo_1"
        feature_names: "lookup_1"
        feature_names: "lookup_2"
        feature_names: "lookup_3"
        feature_names: "lookup_4"
        feature_names: "lookup_5"
        feature_names: "lookup_6"
        feature_names: "lookup_7"
        feature_names: "match_1"
        feature_names: "match_2"
        feature_names: "match_3"
        feature_names: "match_4"
        feature_names: "expr_1"
        feature_names: "custom_1"
        group_type: DEEP
    }
    feature_groups {
        group_name: "seq"
        feature_names: "item_id"
        feature_names: "id_3"
        feature_names: "raw_1"
        feature_names: "raw_2"
        feature_names: "raw_3"
        feature_names: "click_50_seq__item_id"
        feature_names: "click_50_seq__id_3"
        feature_names: "click_50_seq__raw_1"
        feature_names: "click_50_seq__raw_2"
        feature_names: "click_50_seq__raw_3"
        group_type: SEQUENCE
    }
    feature_groups {
        group_name: "seq_item"
        feature_names: "user_id"
        feature_names: "id_6"
        feature_names: "raw_5"
        feature_names: "buy_50_user_id_seq"
        feature_names: "buy_50_id_6_seq"
        feature_names: "buy_50_raw_5_seq"
        group_type: SEQUENCE
    }
    multi_tower_din {
        towers {
            input: 'deep'
            mlp {
                hidden_units: [512, 256, 128]
            }
        }
        din_towers {
            input: 'seq'
            attn_mlp {
                hidden_units: [256, 64]
            }
        }
        din_towers {
            input: 'seq_item'
            attn_mlp {
                hidden_units: [256, 64]
            }
        }
        final {
            hidden_units: [64]
        }
    }
    metrics {
        auc {}
    }
    losses {
        binary_cross_entropy {}
    }
}
