train_input_path: ""
eval_input_path: ""
model_dir: "experiments/qwen2_rec_lm_mock"
train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.0
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.0001
        }
        linear_decay_learning_rate {
            num_training_steps: 32
        }
    }
    num_epochs: 1
    save_checkpoints_epochs: 1
}
eval_config {
}
export_config {
    export_format: HF
}
data_config {
    batch_size: 4
    dataset_type: ParquetDataset
    label_fields: "label"
    num_workers: 2
    fg_mode: FG_NONE
}
feature_configs {
    sequence_raw_feature {
        feature_name: "user_sequence"
        expression: "user:user_sequence"
        value_dim: 1
        sequence_length: 12
    }
}
model_config {
    feature_groups {
        group_name: "sids"
        feature_names: "user_sequence"
        group_type: JAGGED_SEQUENCE
    }
    qwen2_rec_lm {
        common {
            codebook: 4
            codebook: 4
            codebook: 4
            vocab_pad_to_multiple_of: 128
            ignore_index: -100
            param_dtype: "float32"
            max_sequence_length: 12
        }
        hf_model_id: "Qwen/Qwen2.5-0.5B"
        system_instruction: "你是一个推荐系统，根据用户的历史行为，预测用户在电商场景的下一步行为。我会给你一串连续行为的语义编码，按照用户点击的时间顺序排列，每个行为用三个词表示。"
        user_prefix_text: "当前用户的历史行为如下："
        user_suffix_text: "，请预测用户在电商推荐场景后续行为的语义编码"
    }
}
