train_input_path: ""
eval_input_path: ""
model_dir: "experiments/qwen2_rec_lm_mock"
train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.0
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.0001
        }
        linear_decay_learning_rate {
            num_training_steps: 32
        }
    }
    num_epochs: 1
    save_checkpoints_epochs: 1
}
eval_config {
}
export_config {
    export_format: HF
}
data_config {
    batch_size: 4
    dataset_type: ParquetDataset
    label_fields: "label"
    num_workers: 2
    fg_mode: FG_NONE
}
feature_configs {
    sequence_sid_feature {
        feature_name: "user_sequence"
        expression: "user:user_sequence"
        prefix_text: "Current user's historical behaviors are as follows:"
        codebook: 4
        codebook: 4
        codebook: 4
    }
}
model_config {
    feature_groups {
        group_name: "sids"
        feature_names: "user_sequence"
        group_type: JAGGED_SEQUENCE
    }
    qwen2_rec_lm {
        common {
            vocab_pad_to_multiple_of: 128
            ignore_index: -100
            param_dtype: "float32"
            max_sequence_length: 12
        }
        hf_model_id: "Qwen/Qwen2.5-0.5B"
        prompt_template: "You are a recommendation system. Based on the user's historical behavior, predict the user's next action in an e-commerce scenario. I will provide a sequence of semantic encodings representing consecutive behaviors, arranged in chronological order of user clicks. Each behavior is represented by three words. {{user_sequence}} Please predict the semantic encoding of the user's subsequent behavior in the e-commerce recommendation scenario."
    }
}
