train_input_path: ""
eval_input_path: ""
model_dir: "experiments/tdm_mock"
train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    num_epochs: 1
}
eval_config {
}
data_config {
    batch_size: 32
    dataset_type: ParquetDataset
    fg_mode: FG_DAG
    label_fields: "clk"
    num_workers: 8
    tdm_sampler {
        item_input_path: ""
        edge_input_path: ""
        predict_edge_input_path: ""
        attr_fields: "cate_id"
        attr_fields: "id_4"
        attr_fields: "id_5"
        attr_fields: "raw_1"
        attr_fields: "raw_2"
        item_id_field: "item_id"
        layer_num_sample: [0,1,2,3,4,5,6,7,8,9]
        attr_delimiter: ","
    }
}
feature_configs {
    id_feature {
        feature_name: "user_id"
        expression: "user:user_id"
        num_buckets: 1000000
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "item_id"
        expression: "item:item_id"
        num_buckets: 2048
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "cate_id"
        expression: "item:cate_id"
        vocab_list: ["a", "b", "c"]
        embedding_dim: 8
    }
}
feature_configs {
    id_feature {
        feature_name: "id_4"
        expression: "item:id_4"
        hash_bucket_size: 100
        embedding_dim: 16
        embedding_name: "id_4_emb"
    }
}
feature_configs {
    id_feature {
        feature_name: "id_5"
        expression: "item:id_5"
        hash_bucket_size: 100
        embedding_dim: 16
        embedding_name: "id_4_emb"
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_1"
        expression: "item:raw_1"
        boundaries: [0.1, 0.2, 0.3, 0.4]
        embedding_dim: 16
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_2"
        expression: "item:raw_2"
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_3"
        expression: "user:raw_3"
        value_dim: 4
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_4"
        expression: "user:raw_4"
        value_dim: 4
        boundaries: [0.1, 0.2, 0.3, 0.4]
        embedding_dim: 16
    }
}
feature_configs {
    raw_feature {
        feature_name: "raw_5"
        expression: "user:raw_5"
    }
}
feature_configs {
    sequence_feature {
        sequence_name: "click_50_seq"
        sequence_length: 50
        sequence_delim: "|"
        features {
            id_feature {
                feature_name: "item_id"
                expression: "item:item_id"
                num_buckets: 10000
                embedding_dim: 16
            }
        }
        features {
            id_feature {
                feature_name: "cate_id"
                expression: "item:cate_id"
                vocab_list: ["a", "b", "c"]
                embedding_dim: 8
            }
        }
        features {
            raw_feature {
                feature_name: "raw_1"
                expression: "item:raw_1"
                boundaries: [0.1, 0.2, 0.3, 0.4]
                embedding_dim: 16
            }
        }
        features {
            raw_feature {
                feature_name: "raw_2"
                expression: "item:raw_2"
            }
        }
    }
}
model_config {
    feature_groups {
        group_name: "deep"
        feature_names: "user_id"
        feature_names: "id_4"
        feature_names: "id_5"
        feature_names: "raw_3"
        feature_names: "raw_4"
        feature_names: "raw_5"
        group_type: DEEP
    }
    feature_groups {
        group_name: "seq"
        feature_names: "item_id"
        feature_names: "cate_id"
        feature_names: "raw_1"
        feature_names: "raw_2"
        feature_names: "click_50_seq__item_id"
        feature_names: "click_50_seq__cate_id"
        feature_names: "click_50_seq__raw_1"
        feature_names: "click_50_seq__raw_2"
        group_type: SEQUENCE
    }
    tdm {
        multiwindow_din {
            windows_len: [1,1,1,2,2,2,5,6,10,20]
            attn_mlp {
                hidden_units: [36]
                activation: 'nn.PReLU'
            }
        }
        final {
            hidden_units: [256, 128, 64, 32]
            use_bn: True
        }
    }

    num_class: 2
    metrics{
        auc {}
    }
    losses{
        softmax_cross_entropy{}
    }
}
