train_input_path: "odps://{PROJECT}/tables/taobao_multitask_sample_bucketized_train_jrc"
eval_input_path: "odps://{PROJECT}/tables/taobao_multitask_sample_bucketized_v1/ds=20170513"
model_dir: "experiments/taobao/dbmtl_jrc"
train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    num_epochs: 1
}
eval_config {
}
data_config {
    batch_size: 8192
    dataset_type: OdpsDataset
    fg_encoded: true
    label_fields: "clk"
    label_fields: "buy"
    num_workers: 8
}
feature_configs {
    id_feature {
        feature_name: "user_id"
        num_buckets: 1141730
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "cms_segid"
        num_buckets: 98
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "cms_group_id"
        num_buckets: 14
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "final_gender_code"
        num_buckets: 3
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "age_level"
        num_buckets: 8
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "pvalue_level"
        num_buckets: 5
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "shopping_level"
        num_buckets: 5
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "occupation"
        num_buckets: 3
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "new_user_class_level"
        num_buckets: 6
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "adgroup_id"
        num_buckets: 846812
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "cate_id"
        num_buckets: 12961
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "campaign_id"
        num_buckets: 423438
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "customer"
        num_buckets: 255877
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "brand"
        num_buckets: 461498
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "price"
        num_buckets: 101
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "pid"
        num_buckets: 2
        embedding_dim: 16
    }
}
model_config {
    feature_groups {
        group_name: "all"
        feature_names: "user_id"
        feature_names: "cms_segid"
        feature_names: "cms_group_id"
        feature_names: "final_gender_code"
        feature_names: "age_level"
        feature_names: "pvalue_level"
        feature_names: "shopping_level"
        feature_names: "occupation"
        feature_names: "new_user_class_level"
        feature_names: "pid"
        feature_names: "adgroup_id"
        feature_names: "cate_id"
        feature_names: "campaign_id"
        feature_names: "customer"
        feature_names: "brand"
        feature_names: "price"
        group_type: DEEP
    }
    dbmtl {
        bottom_mlp {
            hidden_units: [512]
        }
        task_towers {
            tower_name: "ctr"
            label_name: "clk"
            num_class: 2
            mlp {
                hidden_units: [256, 128, 64]
            }
            metrics {
                auc {}
            }
            losses {
                jrc_loss {
                    session_name: "user_id"
                }
            }
        }
        task_towers {
            tower_name: "cvr"
            label_name: "buy"
            num_class: 2
            mlp {
                hidden_units: [256, 128, 64]
            }
            metrics {
                auc {
                    thresholds: 10000
                }
            }
            losses {
                jrc_loss {
                    session_name: "user_id"
                }
            }
            relation_tower_names: "ctr"
            relation_mlp {
                hidden_units: [64]
            }
        }
    }

}
