train_input_path: ""
eval_input_path: ""
model_dir: ""
train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.0001
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.0001
        }
        constant_learning_rate {
        }
    }
    num_epochs: 1
    save_checkpoints_epochs: 1
}
eval_config {

}
data_config {
    batch_size: 8192
    dataset_type: OdpsDataset
    fg_mode: FG_DAG
    label_fields: "label"
    num_workers: 8
}

feature_configs {
    raw_feature {
        feature_name: "int_0"
        embedding_dim: 16
        expression: "user:int_0"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_1"
        embedding_dim: 16
        expression: "user:int_1"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_2"
        embedding_dim: 16
        expression: "user:int_2"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_3"
        embedding_dim: 16
        expression: "user:int_3"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_4"
        embedding_dim: 16
        expression: "user:int_4"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_5"
        embedding_dim: 16
        expression: "user:int_5"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_6"
        embedding_dim: 16
        expression: "user:int_6"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_7"
        embedding_dim: 16
        expression: "user:int_7"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_8"
        embedding_dim: 16
        expression: "user:int_8"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_9"
        embedding_dim: 16
        expression: "user:int_9"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_10"
        embedding_dim: 16
        expression: "user:int_10"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_11"
        embedding_dim: 16
        expression: "user:int_11"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    raw_feature {
        feature_name: "int_12"
        embedding_dim: 16
        expression: "user:int_12"
        normalizer: "method=expression,expr=log(x+3)"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_0"
        hash_bucket_size: 40000000
        embedding_dim: 16
        expression: "item:cat_0"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_1"
        hash_bucket_size: 39060
        embedding_dim: 16
        expression: "item:cat_1"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_2"
        hash_bucket_size: 17295
        embedding_dim: 16
        expression: "item:cat_2"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_3"
        hash_bucket_size: 7424
        embedding_dim: 16
        expression: "item:cat_3"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_4"
        hash_bucket_size: 20265
        embedding_dim: 16
        expression: "item:cat_4"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_5"
        hash_bucket_size: 3
        embedding_dim: 16
        expression: "item:cat_5"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_6"
        hash_bucket_size: 7122
        embedding_dim: 16
        expression: "item:cat_6"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_7"
        hash_bucket_size: 1543
        embedding_dim: 16
        expression: "item:cat_7"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_8"
        hash_bucket_size: 63
        embedding_dim: 16
        expression: "item:cat_8"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_9"
        hash_bucket_size: 40000000
        embedding_dim: 16
        expression: "item:cat_9"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_10"
        hash_bucket_size: 3067956
        embedding_dim: 16
        expression: "item:cat_10"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_11"
        hash_bucket_size: 405282
        embedding_dim: 16
        expression: "item:cat_11"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_12"
        hash_bucket_size: 10
        embedding_dim: 16
        expression: "item:cat_12"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_13"
        hash_bucket_size: 2209
        embedding_dim: 16
        expression: "item:cat_13"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_14"
        hash_bucket_size: 11938
        embedding_dim: 16
        expression: "item:cat_14"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_15"
        hash_bucket_size: 155
        embedding_dim: 16
        expression: "item:cat_15"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_16"
        hash_bucket_size: 4
        embedding_dim: 16
        expression: "item:cat_16"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_17"
        hash_bucket_size: 976
        embedding_dim: 16
        expression: "item:cat_17"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_18"
        hash_bucket_size: 14
        embedding_dim: 16
        expression: "item:cat_18"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_19"
        hash_bucket_size: 40000000
        embedding_dim: 16
        expression: "item:cat_19"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_20"
        hash_bucket_size: 40000000
        embedding_dim: 16
        expression: "item:cat_20"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_21"
        hash_bucket_size: 40000000
        embedding_dim: 16
        expression: "item:cat_21"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_22"
        hash_bucket_size: 590152
        embedding_dim: 16
        expression: "item:cat_22"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_23"
        hash_bucket_size: 12973
        embedding_dim: 16
        expression: "item:cat_23"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_24"
        hash_bucket_size: 108
        embedding_dim: 16
        expression: "item:cat_24"
    }
}
feature_configs {
    id_feature {
        feature_name: "cat_25"
        hash_bucket_size: 36
        embedding_dim: 16
        expression: "item:cat_25"
    }
}

model_config {
    feature_groups {
        group_name: "all_features"
        feature_names: "cat_0"
        feature_names: "cat_1"
        feature_names: "cat_2"
        feature_names: "cat_3"
        feature_names: "cat_4"
        feature_names: "cat_5"
        feature_names: "cat_6"
        feature_names: "cat_7"
        feature_names: "cat_8"
        feature_names: "cat_9"
        feature_names: "cat_10"
        feature_names: "cat_11"
        feature_names: "cat_12"
        feature_names: "cat_13"
        feature_names: "cat_14"
        feature_names: "cat_15"
        feature_names: "cat_16"
        feature_names: "cat_17"
        feature_names: "cat_18"
        feature_names: "cat_19"
        feature_names: "cat_20"
        feature_names: "cat_21"
        feature_names: "cat_22"
        feature_names: "cat_23"
        feature_names: "cat_24"
        feature_names: "cat_25"
        feature_names: "int_0"
        feature_names: "int_1"
        feature_names: "int_2"
        feature_names: "int_3"
        feature_names: "int_4"
        feature_names: "int_5"
        feature_names: "int_6"
        feature_names: "int_7"
        feature_names: "int_8"
        feature_names: "int_9"
        feature_names: "int_10"
        feature_names: "int_11"
        feature_names: "int_12"
        group_type: DEEP
    }

    mask_net {
        mask_net_module{
            n_mask_blocks: 3
            mask_block {
                reduction_ratio: 3
                hidden_dim: 512
            }
            use_parallel: true
            top_mlp {
                hidden_units: [256, 128, 64]

            }
        }
    }
    metrics {
        auc {}
    }

    losses {
        binary_cross_entropy {}
    }
}
