train_input_path: "odps://{PROJECT}/tables/taobao_multitask_sample_v1_train"
eval_input_path: "odps://{PROJECT}/tables/taobao_multitask_sample_v1/ds=20170513"
model_dir: "experiments/multi_tower_taobao"
train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    num_epochs: 1
}
eval_config {
}
data_config {
    batch_size: 8192
    dataset_type: OdpsDataset
    fg_encoded: false
    label_fields: "clk"
    num_workers: 8
}
feature_configs {
    id_feature {
        feature_name: "user_id"
        expression: "user:user_id"
        num_buckets: 1141730
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "cms_segid"
        expression: "user:cms_segid"
        num_buckets: 98
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "cms_group_id"
        expression: "user:cms_group_id"
        num_buckets: 14
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "final_gender_code"
        expression: "user:final_gender_code"
        num_buckets: 3
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "age_level"
        expression: "user:age_level"
        num_buckets: 8
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "pvalue_level"
        expression: "user:pvalue_level"
        num_buckets: 5
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "shopping_level"
        expression: "user:shopping_level"
        num_buckets: 5
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "occupation"
        expression: "user:occupation"
        num_buckets: 3
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "new_user_class_level"
        expression: "user:new_user_class_level"
        num_buckets: 6
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "adgroup_id"
        expression: "item:adgroup_id"
        num_buckets: 846812
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "cate_id"
        expression: "item:cate_id"
        num_buckets: 12961
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "campaign_id"
        expression: "item:campaign_id"
        num_buckets: 423438
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "customer"
        expression: "item:customer"
        num_buckets: 255877
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "brand"
        expression: "item:brand"
        num_buckets: 461498
        embedding_dim: 16
    }
}
feature_configs {
    raw_feature {
        feature_name: "price"
        expression: "item:price"
        boundaries: [1.1, 2.2, 3.6, 5.2, 7.39, 9.5, 10.5, 12.9, 15, 17.37, 19, 20, 23.8, 25.8, 28, 29.8, 31.5, 34, 36, 38, 39, 40, 45, 48, 49, 51.6, 55.2, 58, 59, 63.8, 68, 69, 72, 78, 79, 85, 88, 90, 97.5, 98, 99, 100, 108, 115, 118, 124, 128, 129, 138, 139, 148, 155, 158, 164, 168, 171.8, 179, 188, 195, 198, 199, 216, 228, 238, 248, 258, 268, 278, 288, 298, 299, 316, 330, 352, 368, 388, 398, 399, 439, 478, 499, 536, 580, 599, 660, 699, 780, 859, 970, 1080, 1280, 1480, 1776, 2188, 2798, 3680, 5160, 8720]
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "pid"
        expression: "context:pid"
        hash_bucket_size: 20
        embedding_dim: 16
    }
}
model_config {
    feature_groups {
        group_name: "user"
        feature_names: "user_id"
        feature_names: "cms_segid"
        feature_names: "cms_group_id"
        feature_names: "final_gender_code"
        feature_names: "age_level"
        feature_names: "pvalue_level"
        feature_names: "shopping_level"
        feature_names: "occupation"
        feature_names: "new_user_class_level"
        feature_names: "pid"
        group_type: DEEP
    }
    feature_groups {
        group_name: "item"
        feature_names: "adgroup_id"
        feature_names: "cate_id"
        feature_names: "campaign_id"
        feature_names: "customer"
        feature_names: "brand"
        feature_names: "price"
        group_type: DEEP
    }
    multi_tower {
        towers {
            input: 'user'
            mlp {
                hidden_units: [512, 256, 128]
            }
        }
        towers {
            input: 'item'
            mlp {
                hidden_units: [512, 256, 128]
            }
        }
        final {
            hidden_units: [64]
        }
    }
    metrics {
        auc {}
    }
    losses {
        binary_cross_entropy {}
    }
}
