train_input_path:"data/taobao_data_recall_train_transformed/*.parquet"
eval_input_path:"data/taobao_data_recall_eval_transformed/*.parquet"
model_dir:"experiments/tdm_taobao"
train_config {
    sparse_optimizer {
        adam_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
        }
        constant_learning_rate {
        }
    }
    num_epochs: 2
    log_step_count_steps: 1
    save_checkpoints_steps: 100000
}
eval_config {
}
data_config {
    batch_size: 32
    dataset_type: ParquetDataset
    fg_encoded: true
    label_fields: "clk"
    num_workers: 10
    tdm_sampler {
        item_input_path: 'data/init_tree/node_table.txt'
        edge_input_path: 'data/init_tree/edge_table.txt'
        predict_edge_input_path: 'data/init_tree/predict_edge_table.txt'
        attr_fields: 'tree_level'
        attr_fields: "adgroup_id"
        attr_fields: "cate_id"
        attr_fields: "campaign_id"
        attr_fields: "customer"
        attr_fields: "brand"
        attr_fields: "price"
        item_id_field: "adgroup_id"
        layer_num_sample: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 23, 30, 34, 82, 200]
        attr_delimiter : ','
    }

}
feature_configs {
    id_feature {
        feature_name: "user_id"
        expression: "user:user_id"
        num_buckets: 1141730
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "cms_segid"
        expression: "user:cms_segid"
        num_buckets: 98
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "cms_group_id"
        expression: "user:cms_group_id"
        num_buckets: 14
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "final_gender_code"
        expression: "user:final_gender_code"
        num_buckets: 3
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "age_level"
        expression: "user:age_level"
        num_buckets: 8
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "pvalue_level"
        expression: "user:pvalue_level"
        num_buckets: 5
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "shopping_level"
        expression: "user:shopping_level"
        num_buckets: 5
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "occupation"
        expression: "user:occupation"
        num_buckets: 3
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "new_user_class_level"
        expression: "user:new_user_class_level"
        num_buckets: 6
        embedding_dim: 16
    }
}
feature_configs {
    sequence_id_feature {
        feature_name: 'click_50_seq__adgroup_id'
        sequence_length: 50
        sequence_delim: ';'
        expression: 'user:click_50_seq__adgroup_id'
        embedding_dim: 16
        num_buckets: 1895387
        embedding_name: 'item_emb'
    }
}
feature_configs {
    sequence_id_feature {
        feature_name: 'click_50_seq__cate_id'
        sequence_length: 50
        sequence_delim: ';'
        expression: 'user:click_50_seq__cate_id'
        embedding_dim: 16
        num_buckets: 12961
        embedding_name: 'cate_emb'
    }
}
feature_configs {
    sequence_id_feature {
        feature_name: 'click_50_seq__brand'
        sequence_length: 50
        sequence_delim: ';'
        expression: 'user:click_50_seq__brand'
        embedding_dim: 16
        num_buckets: 461498
        embedding_name: 'brand_emb'
    }
}
feature_configs {
    id_feature {
        feature_name: "adgroup_id"
        expression: "item:adgroup_id"
        num_buckets: 1895387
        embedding_dim: 16
        embedding_name: 'item_emb'
    }
}
feature_configs {
    id_feature {
        feature_name: "cate_id"
        expression: "item:cate_id"
        num_buckets: 12961
        embedding_dim: 16
        embedding_name: 'cate_emb'
    }
}
feature_configs {
    id_feature {
        feature_name: "campaign_id"
        expression: "item:campaign_id"
        num_buckets: 423438
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "customer"
        expression: "item:customer"
        num_buckets: 255877
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "brand"
        expression: "item:brand"
        num_buckets: 461498
        embedding_dim: 16
        embedding_name: 'brand_emb'
    }
}
feature_configs {
    id_feature {
        feature_name: "price"
        expression: "item:price"
        num_buckets: 100
        embedding_dim: 16
    }
}
feature_configs {
    id_feature {
        feature_name: "pid"
        expression: "context:pid"
        hash_bucket_size: 20
        embedding_dim: 16
    }
}
model_config {
    feature_groups {
        group_name: 'seq'
        feature_names: 'click_50_seq__adgroup_id'
        feature_names: 'click_50_seq__cate_id'
        feature_names: 'click_50_seq__brand'
        feature_names: 'adgroup_id'
        feature_names: 'cate_id'
        feature_names: 'brand'
        group_type : SEQUENCE
    }
    feature_groups {
        group_name: 'user'
        feature_names: 'user_id'
        feature_names: "cms_segid"
        feature_names: "cms_group_id"
        feature_names: "final_gender_code"
        feature_names: "age_level"
        feature_names: "pvalue_level"
        feature_names: "shopping_level"
        feature_names: "occupation"
        feature_names: "new_user_class_level"
        feature_names: "pid"
        group_type: DEEP
    }
    feature_groups {
        group_name: "item"
        feature_names: "campaign_id"
        feature_names: "customer"
        feature_names: "price"
        group_type: DEEP
    }
    tdm {
        multiwindow_din {
            windows_len: [1,1,1,2,2,2,5,6,10,20]
            attn_mlp {
                hidden_units: [36]
                activation: 'nn.PReLU'
            }
        }
        final {
            hidden_units: [256, 128, 64, 32]
            use_bn: True
        }
    }

    num_class: 2
    metrics{
        auc {}
    }
    losses{
        softmax_cross_entropy{}
    }
}
