name: Code Style CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  ci-test:
    runs-on: tzrec-codestyle-runner
    container:
      image: mybigpai-public-registry.cn-beijing.cr.aliyuncs.com/easyrec/tzrec-devel:0.6
    steps:
      - name: FetchCommit ${{ github.event.pull_request.head.sha }}
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: RunCodeStyleCI
        id: run_codestyle_ci
        run: |
          pip install -r requirements.txt
          pre-commit run -a
