name: Unit Test CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  ci-test:
    runs-on: tzrec-runner
    container:
      image: mybigpai-public-registry.cn-beijing.cr.aliyuncs.com/easyrec/tzrec-devel:0.9
      options: --gpus all --ipc host
    steps:
      - name: FetchCommit ${{ github.event.pull_request.head.sha }}
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: run_${{ github.run_id }}
      - name: RunUnitTestCI
        id: run_unittest_ci
        run: |
          cd run_${{ github.run_id }}
          TRITON_CACHE_AUTOTUNING=1 TRITON_CACHE_DIR=../.triton_cache CI_HYPOTHESIS=true bash scripts/ci/ci_test.sh
