name: Unit Test CPU CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  ci-test:
    runs-on: tzrec-cpu-runner
    container:
      image: mybigpai-public-registry.cn-beijing.cr.aliyuncs.com/easyrec/tzrec-test:0.9-cpu
      options: --ipc host
    steps:
      - name: FetchCommit ${{ github.event.pull_request.head.sha }}
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: run_${{ github.run_id }}
      - name: RunUnitTestCI
        id: run_unittest_ci
        run: |
          cd run_${{ github.run_id }}
          CI_HYPOTHESIS=true bash scripts/ci/ci_test_cpu.sh
