name: Wheel And Doc Nightly

on:
  pull_request:
    types: [opened, reopened, synchronize]
  schedule:
    - cron:  '0 16 * * *'
  workflow_dispatch:

jobs:
  ci-test:
    runs-on: tzrec-codestyle-runner
    container:
      image: mybigpai-public-registry.cn-beijing.cr.aliyuncs.com/easyrec/tzrec-devel:0.7
    steps:
      - name: FetchCommit ${{ github.event.pull_request.head.sha }}
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: run_${{ github.run_id }}
      - name: BuildWheel
        id: run_build_wheel
        env:
            ALIBABA_CLOUD_ECS_METADATA: ${{ secrets.ALIBABA_CLOUD_ECS_METADATA }}
        run: |
          cd run_${{ github.run_id }}
          git config --global --add safe.directory /__w/TorchEasyRec/TorchEasyRec
          wget https://tzrec.oss-cn-beijing.aliyuncs.com/third_party/ossutil -o /usr/local/bin/ossutil
          chmod +x /usr/local/bin/ossutil
          bash scripts/build_wheel.sh nightly-oss
      - name: BuildDoc
        id: run_build_doc
        env:
            READTHEDOCS_TOKEN: ${{ secrets.READTHEDOCS_TOKEN }}
        run: |
          curl -X POST -H "Authorization: Token ${READTHEDOCS_TOKEN}" https://readthedocs.org/api/v3/projects/torcheasyrec/versions/latest/builds/
